.restaurant-header {
            background-color: #765827;
            padding: 20px;
            text-align: center;
        }

.restaurant-img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }